@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

*{
  font-family: 'Poppins', sans-serif;
  margin:0; 
  padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  transition: all .2s ease-out;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.header{
  padding:2.3rem 9%;
  position: fixed;
  top:0; 
  left: 0; 
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5B7C99;
}

.header .logo{
  font-size: 2.5rem;
  color: white;
  text-transform:none;
}

.header .logo i{ 
  color: white;
}

.header .navbar a{
  font-size: 1.7rem;
  color: white;
  margin-left: 2rem;
  padding-right: 5px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 530;
}

.header .navbar a:hover{
  color: gold;
}

header .navbar a .user {
  position: relative;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #5B7C99;
  border-left: 10px solid #5B7C99;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: white;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: #5B7C99;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
  color: black;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  font-size: 18px;
  color: black;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px white;
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px white;
  pointer-events: none;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: white;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top:90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 700;
  font-size: 4rem;
  color: #5B7C99;
}
.cardBox .card .predict {
  position: relative;
  font-weight: 700;
  font-size: 3rem;
  color: #5B7C99;
}
.cardBox .card .detail {
  position: relative;
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 20px;
  color: black;
}

.cardBox .card .cardName {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
}

.cardBox .card .iconBx img{
  width: 40px;
  color: black;
}

.cardBox .card:hover {
  background: #990033;
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .detail,
.cardBox .card:hover .predict,
.cardBox .card:hover .iconBx {
  color: white;
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .header .navbar{
      position: absolute;
      top:115%; 
      right: 2rem;
      border-radius: .5rem;
      width: 30rem;
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
  }

  .header .navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .header .navbar a{
      font-size: 2rem;
      display: block;
      margin:2.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}